/* common font here */
/* common font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* common css here */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
}

/* ---header part start here----- */
/* -----navbar part start here------ */
#nav-banner{
    background: #2D25A0;    
    
}
nav{
    padding-top: 31px;
    width: 1163px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-class a{
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
   color: #000;
   margin-right: 36px;
   color: #FFFFFF;
}
#bars{
    display: none;
}
#nab-signing {
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #fff;
padding: 7px 18px 7px 18px;
background: #E02C6D;
display: inline-block;

}

/* ---header part end here----- */
/* ---banner part start here----- */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-info{
    width:1143px;
    display: flex;
    justify-content: center;
    padding-bottom: 86px;
}


.banner-txt{
    width: 485px;
    margin-right: 102px;
    margin-top: 142px;
    
}
.banner-txt h6{
    font-size:54px;
    font-weight: 700;
    line-height:80px;
    justify-content: center;
    color: #FFFFFF;

}
.banner-txt a{
    text-decoration: none;
    display: inline-block;
    background: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 24px 10px 24px;
    margin-top: 4px;


}
.banner-img{
    width: 556px;
    height: 438px;
    margin-top: 78px;
    margin-right: 140px;
}
.banner-img img{
    width: 100%;
}
/* -----navbar part end here------ */
/* -----player part end here------ */
main{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.container{
    width: 1050px;
}

.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 40px 0px #00000026;
   

}
.player img{
width: 330px;
height: 256px;
}
.player-deatils{
    width: 300px;
    height: 104px;
}
.player-name{
font-weight: 700;
font-size: 28px;
line-height: 40px;
color: #18191F;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 10px;
}
.player-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:  #6C6C6C;
    
}

/* -----player part end here------ */
/* ----- highlight part start here------ */
.highlight{
    display: flex;
    justify-content: center;
}
.highlight-text{
width: 466px;
height: 309px;
margin-top: 224px;
margin-right: 69px;
}
.highlight-text h4{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    
}
.highlight-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-top: 8px;
}
.highlight-text a{
    
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    Padding :10px 24px 10px 24px;
    color: #ffffff;
    margin-top: 24px;
    text-decoration: none;

}
.highlight-link .fas{
    margin-left: 8px;
    color: #ffffff;
    font-size: 16px;
}
.highlight-img{
    width: 567px;
    height: 427px;
    margin-top: 162px;
}
.highlight-img img{
    width: 100%;
    height: 100%;
}
/* ----- highlight part end here------ */
/* ----- main part end here------ */
/* ----- footer part start here------ */
footer{
    display: flex;
    justify-content: center;
}
.footer-main{
    
    width: 484px;
    height: 213px;
margin-top: 163px;
margin-bottom: 63px;
}
.footer-img img{
    width: 484px;
    height: 110px;
}
.footer-deatils{
    display: grid;
    justify-content: center;
}
.footer-icon i{
    Width: 17.07px;
Height:12.27px;
color: #969BAB;
margin: 20px 0;
margin-right: 14px;

}
.footer-text p{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #000;
}
/* ----- footer part end here------ */
/*--------------
mediea quary
--------------*/
/* ---------------mobile divice---------- */
@media only screen and (max-width:688px){
    

body{
    width: 100%;
  
}

    /*nav-banner part start hear  */
   nav{
   width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   } 
   .nav-class #bars {
        display:block;
        color: #fff;
        margin-left: 66px;
    }
.nav-class .mobile-hidden{
     display: none;   
    }
  
    #nab-signing {
        margin-right: 22px;
    }
    /*nav-banner part end  hear  */
    /*nav-banner part end  hear  */
    .banner-info{
        width: 100%;
       display: grid;
       grid-template-columns: repeat(1,1fr);
       align-items: center;
       padding-bottom: 61px; 
    }
    .banner-txt{
        width: 278px;
        margin: 0 auto;
        margin-top: 29px;
       text-align: left;
    }
    .banner-txt h6{
        font-size:36px;
        font-weight: 700;
        line-height:50px;
        justify-content: center;
        color: #FFFFFF;
    }
    .banner-img{
        width: 329px;
        height: 260px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-txt a{
        margin-top: 30px;
    }
   
    /*main part end  hear  */
    /*players part end  hear  */
    .container{
        width: 100%;
    }
    .players{
        margin-top: 47px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .player{
        margin: 0 auto;
    }
    .highlight{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .highlight-text{
        margin: 0 auto;
        margin-top: 60px;
        width: 329px;
        height: 299px;
    }
    .highlight-text h4{
        font-size: 30px;
        line-height: 40px;
      
    }
    .highlight-img{
        width: 328px;
        height: 248px;
        margin: 0 auto;
        margin-top: 29px;
    }
    .highlight-img img{
        width: 100%;
        height: 100%;
    }
    footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    }
    .footer-main{
        width: 275px;
        margin: 0 auto;
        margin-top: 43px;
        margin-bottom: 120px;
    }
    .footer-main img{
        width: 100%;
        height: 100%;
    }
    .footer-deatils .footer-icon {
        text-align: center;
    }
    /* margin: 29px 0 20px 0; */
    /*players part end  hear  */
    /*main part end  hear  */
}
/* -----------------------
    small device end here
--------------------------- */
/* -----------------------
tablet device start here
---------------------------
*/
@media only screen and (min-width:688px)
and (max-width:992px)
{
    body{
        width: 100% ;
    }
    nav{
        width: 100%;
    }
      /*nav-banner part start hear  */
   nav{
    width: 100%;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
    } 
    .nav-class #bars {
         display:block;
         color: #fff;
         margin-left: 66px;
     }
 .nav-class .mobile-hidden{
      display: none;   
     }
   
     #nab-signing {
         margin-right: 22px;
     }
     /*nav-banner part end  hear  */
     /*banner part start  hear  */
       /*nav-banner part start hear  */
   nav{
   width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
   } 
   .nav-class #bars {
        display:block;
        color: #fff;
        margin-left: 5%;
    }
.nav-class .mobile-hidden{
     display: none;   
    }
  
    #nab-signing {
        margin-right: 22px;
    }
    /*nav-banner part end  hear  */
    .banner-info{
        width: 100%;
        padding-bottom: 55px;
    }
    .banner-txt{
        width: 45%;
        margin-right: 10%;
        margin-top: 50px;
        margin-left: 5%;
    }
    .banner-img{
        width: 40%;
        margin: 0;
        margin-top: 50px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    .banner-txt h6 {
        font-size: 50px;
        line-height: 70px;
     
    }
     /*banner part end  hear  */
     /* main part start here */
     .container{
         width: 100%;
     }
     .players , .highlight{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .player{
        margin: 0 auto;
    }
    .highlight-text{
        width: 45%;
       margin: 0 auto;
       height: 100%;
    }
    .highlight-img{
        width: 45%;
        margin: 0;
        height: 100%;
    }
    .highlight-img img{
        width: 100%;
        height: 100%;
    }
    .highlight-text h4 {
        font-size: 35px;
        line-height: 40px;
        
    }
    .highlight-text p {
        font-size: 14px;
        line-height: 22px;
       
    }
    .highlight-text a {
        font-size: 14px;
        line-height: 22px;
        Padding: 10px 20px 10px 20px;
        margin-top: 20px;
    }
     /* main part end   here */
     /* footer part start here */
     .footer-main {
        width: 100%; 
         height: 100%;
        margin-top: 103px;
        margin-bottom: 43px;
        text-align: center;
    }
    /* footer part end here */
    
}